version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: postgres18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: deliveryAppDB
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1@2#3$4%
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 1@2#3$4%
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  pgadmin_data:
  mongo_data:

